html#gachi {
	@import 'style/_grid.less';
	@import 'style/_reset.less';
	
	// & {
	// 	--fs: .7px;
	// 	font-size: var(--fs);
	// 
	// 	@media (@sm) {
	// 		--fs: .85px;
	// 	}
	// 	@media (@md) {
	// 		--fs: .9px;
	// 	}
	// 	@media (@lg) {
	// 		--fs: .95px;
	// 	}
	// 	@media (@xl) {
	// 		--fs: 1px;
	// 	}
	// }
	
	
	.container {
		--cw: 100%;
		width: var(--cw);
		
		@media (@sm) {
			--cw: 540px;
		}
		@media (@md) {
			--cw: 720px;
		}
		@media (@lg) {
			--cw: 960px;
		}
		@media (@xl) {
			--cw: 1170px;
		}
	}

	.card() {
		flex-grow: 1;
		.c();
		justify-content: center;
		align-items: center;
		box-shadow: 3px 4px 8px 1px rgba(0, 0, 0, 0.07);
		background: #fff;
		border: 1px solid #f9f9f9;
	}
	
	.our_advantages {
		padding-bottom: 12px;
		
		&-item {
			.c();
		}
		
		&-content {
			.card();
			text-align: center;
			padding: 20px 12px;
			margin-bottom: 16px;
		}
		
		&-icon {
			flex-shrink: 0;
			.c();
			justify-content: center;
			align-items: center;
			background: #000;
			width: 82px;
			height: 82px;
			border-radius: 50%;
			margin: 0 0 12px;
		}
		
		&-name {
			color: #1a1a1a;
			font-family: "Bliss Pro";
			font-size: 18px;
			font-weight: 400;
			line-height: 22px;
		}
		
		@media (@xl) {
			&-content {
				padding: 40px;
				text-align: left;
				flex-direction: row;
				margin-bottom: 28px;
			}
			
			&-icon {
				margin: 0 35px 0 0;
			}
		}
	}
	
}
