.initial {
  all: initial;
  box-sizing: border-box;
  display: block;
  -webkit-text-fill-color: currentColor;
  text-size-adjust: 100%;
}
.unset {
  all: unset;
  display: block;
  -webkit-text-fill-color: currentColor;
  text-size-adjust: 100%;
}
.dn {
  display: none !important;
}
.c {
  display: flex;
  flex-direction: column;
}
.r {
  display: flex;
  flex-wrap: wrap;
}
* {
  all: unset;
  display: block;
  -webkit-text-fill-color: currentColor;
  text-size-adjust: 100%;
}
*::before,
*::after {
  all: unset;
  display: block;
  -webkit-text-fill-color: currentColor;
  text-size-adjust: 100%;
  display: unset;
}
*::placeholder {
  all: unset;
  display: block;
  -webkit-text-fill-color: currentColor;
  text-size-adjust: 100%;
  display: unset;
  -webkit-text-security: none;
}
img {
  max-width: 100%;
  height: auto;
}
a[href]:hover,
button:hover,
[type='button']:hover,
label:hover,
a[href]:focus,
button:focus,
[type='button']:focus,
label:focus {
  cursor: pointer;
}
head,
style,
script {
  display: none;
}
a,
abbr,
acronym,
audio,
b,
bdi,
bdo,
big,
br,
button,
canvas,
cite,
code,
data,
datalist,
del,
dfn,
em,
embed,
i,
iframe,
img,
input,
ins,
kbd,
label,
map,
mark,
meter,
noscript,
object,
output,
picture,
progress,
q,
ruby,
s,
samp,
select,
slot,
small,
span,
strong,
sub,
sup,
svg,
template,
textarea,
time,
u,
tt,
var,
video,
wbr {
  display: inline;
}
table {
  display: table;
}
caption {
  display: table-caption;
}
thead {
  display: table-header-group;
}
tbody {
  display: table-row-group;
}
tfoot {
  display: table-footer-group;
}
tr {
  display: table-row;
}
colgroup {
  display: table-column-group;
}
col {
  display: table-column;
}
td,
th {
  display: table-cell;
}
@-ms-viewport {
  width: device-width;
}
#gachi .ccontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
@media (min-width: 576px) {
  #gachi .ccontainer {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  #gachi .ccontainer {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  #gachi .ccontainer {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  #gachi .ccontainer {
    max-width: 1140px;
  }
}
#gachi .ccontainer-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#gachi .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
#gachi .no-gutters {
  margin-right: 0;
  margin-left: 0;
}
#gachi .no-gutters > .col,
#gachi .no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
#gachi .col-1,
#gachi .col-2,
#gachi .col-3,
#gachi .col-4,
#gachi .col-5,
#gachi .col-6,
#gachi .col-7,
#gachi .col-8,
#gachi .col-9,
#gachi .col-10,
#gachi .col-11,
#gachi .col-12,
#gachi .col,
#gachi .col-auto,
#gachi .col-sm-1,
#gachi .col-sm-2,
#gachi .col-sm-3,
#gachi .col-sm-4,
#gachi .col-sm-5,
#gachi .col-sm-6,
#gachi .col-sm-7,
#gachi .col-sm-8,
#gachi .col-sm-9,
#gachi .col-sm-10,
#gachi .col-sm-11,
#gachi .col-sm-12,
#gachi .col-sm,
#gachi .col-sm-auto,
#gachi .col-md-1,
#gachi .col-md-2,
#gachi .col-md-3,
#gachi .col-md-4,
#gachi .col-md-5,
#gachi .col-md-6,
#gachi .col-md-7,
#gachi .col-md-8,
#gachi .col-md-9,
#gachi .col-md-10,
#gachi .col-md-11,
#gachi .col-md-12,
#gachi .col-md,
#gachi .col-md-auto,
#gachi .col-lg-1,
#gachi .col-lg-2,
#gachi .col-lg-3,
#gachi .col-lg-4,
#gachi .col-lg-5,
#gachi .col-lg-6,
#gachi .col-lg-7,
#gachi .col-lg-8,
#gachi .col-lg-9,
#gachi .col-lg-10,
#gachi .col-lg-11,
#gachi .col-lg-12,
#gachi .col-lg,
#gachi .col-lg-auto,
#gachi .col-xl-1,
#gachi .col-xl-2,
#gachi .col-xl-3,
#gachi .col-xl-4,
#gachi .col-xl-5,
#gachi .col-xl-6,
#gachi .col-xl-7,
#gachi .col-xl-8,
#gachi .col-xl-9,
#gachi .col-xl-10,
#gachi .col-xl-11,
#gachi .col-xl-12,
#gachi .col-xl,
#gachi .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
#gachi .col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
#gachi .col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
#gachi .col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
#gachi .col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
#gachi .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
#gachi .col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
#gachi .col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
#gachi .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
#gachi .col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
#gachi .col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
#gachi .col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
#gachi .col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
#gachi .col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
#gachi .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
#gachi .order-first {
  order: -1;
}
#gachi .order-last {
  order: 13;
}
#gachi .order-0 {
  order: 0;
}
#gachi .order-1 {
  order: 1;
}
#gachi .order-2 {
  order: 2;
}
#gachi .order-3 {
  order: 3;
}
#gachi .order-4 {
  order: 4;
}
#gachi .order-5 {
  order: 5;
}
#gachi .order-6 {
  order: 6;
}
#gachi .order-7 {
  order: 7;
}
#gachi .order-8 {
  order: 8;
}
#gachi .order-9 {
  order: 9;
}
#gachi .order-10 {
  order: 10;
}
#gachi .order-11 {
  order: 11;
}
#gachi .order-12 {
  order: 12;
}
#gachi .offset-1 {
  margin-left: 8.333333%;
}
#gachi .offset-2 {
  margin-left: 16.666667%;
}
#gachi .offset-3 {
  margin-left: 25%;
}
#gachi .offset-4 {
  margin-left: 33.333333%;
}
#gachi .offset-5 {
  margin-left: 41.666667%;
}
#gachi .offset-6 {
  margin-left: 50%;
}
#gachi .offset-7 {
  margin-left: 58.333333%;
}
#gachi .offset-8 {
  margin-left: 66.666667%;
}
#gachi .offset-9 {
  margin-left: 75%;
}
#gachi .offset-10 {
  margin-left: 83.333333%;
}
#gachi .offset-11 {
  margin-left: 91.666667%;
}
@media (min-width: 576px) {
  #gachi .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  #gachi .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  #gachi .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  #gachi .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  #gachi .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  #gachi .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  #gachi .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  #gachi .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  #gachi .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  #gachi .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  #gachi .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  #gachi .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  #gachi .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  #gachi .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #gachi .order-sm-first {
    order: -1;
  }
  #gachi .order-sm-last {
    order: 13;
  }
  #gachi .order-sm-0 {
    order: 0;
  }
  #gachi .order-sm-1 {
    order: 1;
  }
  #gachi .order-sm-2 {
    order: 2;
  }
  #gachi .order-sm-3 {
    order: 3;
  }
  #gachi .order-sm-4 {
    order: 4;
  }
  #gachi .order-sm-5 {
    order: 5;
  }
  #gachi .order-sm-6 {
    order: 6;
  }
  #gachi .order-sm-7 {
    order: 7;
  }
  #gachi .order-sm-8 {
    order: 8;
  }
  #gachi .order-sm-9 {
    order: 9;
  }
  #gachi .order-sm-10 {
    order: 10;
  }
  #gachi .order-sm-11 {
    order: 11;
  }
  #gachi .order-sm-12 {
    order: 12;
  }
  #gachi .offset-sm-0 {
    margin-left: 0;
  }
  #gachi .offset-sm-1 {
    margin-left: 8.333333%;
  }
  #gachi .offset-sm-2 {
    margin-left: 16.666667%;
  }
  #gachi .offset-sm-3 {
    margin-left: 25%;
  }
  #gachi .offset-sm-4 {
    margin-left: 33.333333%;
  }
  #gachi .offset-sm-5 {
    margin-left: 41.666667%;
  }
  #gachi .offset-sm-6 {
    margin-left: 50%;
  }
  #gachi .offset-sm-7 {
    margin-left: 58.333333%;
  }
  #gachi .offset-sm-8 {
    margin-left: 66.666667%;
  }
  #gachi .offset-sm-9 {
    margin-left: 75%;
  }
  #gachi .offset-sm-10 {
    margin-left: 83.333333%;
  }
  #gachi .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 768px) {
  #gachi .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  #gachi .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  #gachi .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  #gachi .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  #gachi .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  #gachi .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  #gachi .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  #gachi .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  #gachi .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  #gachi .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  #gachi .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  #gachi .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  #gachi .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  #gachi .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #gachi .order-md-first {
    order: -1;
  }
  #gachi .order-md-last {
    order: 13;
  }
  #gachi .order-md-0 {
    order: 0;
  }
  #gachi .order-md-1 {
    order: 1;
  }
  #gachi .order-md-2 {
    order: 2;
  }
  #gachi .order-md-3 {
    order: 3;
  }
  #gachi .order-md-4 {
    order: 4;
  }
  #gachi .order-md-5 {
    order: 5;
  }
  #gachi .order-md-6 {
    order: 6;
  }
  #gachi .order-md-7 {
    order: 7;
  }
  #gachi .order-md-8 {
    order: 8;
  }
  #gachi .order-md-9 {
    order: 9;
  }
  #gachi .order-md-10 {
    order: 10;
  }
  #gachi .order-md-11 {
    order: 11;
  }
  #gachi .order-md-12 {
    order: 12;
  }
  #gachi .offset-md-0 {
    margin-left: 0;
  }
  #gachi .offset-md-1 {
    margin-left: 8.333333%;
  }
  #gachi .offset-md-2 {
    margin-left: 16.666667%;
  }
  #gachi .offset-md-3 {
    margin-left: 25%;
  }
  #gachi .offset-md-4 {
    margin-left: 33.333333%;
  }
  #gachi .offset-md-5 {
    margin-left: 41.666667%;
  }
  #gachi .offset-md-6 {
    margin-left: 50%;
  }
  #gachi .offset-md-7 {
    margin-left: 58.333333%;
  }
  #gachi .offset-md-8 {
    margin-left: 66.666667%;
  }
  #gachi .offset-md-9 {
    margin-left: 75%;
  }
  #gachi .offset-md-10 {
    margin-left: 83.333333%;
  }
  #gachi .offset-md-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 992px) {
  #gachi .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  #gachi .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  #gachi .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  #gachi .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  #gachi .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  #gachi .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  #gachi .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  #gachi .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  #gachi .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  #gachi .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  #gachi .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  #gachi .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  #gachi .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  #gachi .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #gachi .order-lg-first {
    order: -1;
  }
  #gachi .order-lg-last {
    order: 13;
  }
  #gachi .order-lg-0 {
    order: 0;
  }
  #gachi .order-lg-1 {
    order: 1;
  }
  #gachi .order-lg-2 {
    order: 2;
  }
  #gachi .order-lg-3 {
    order: 3;
  }
  #gachi .order-lg-4 {
    order: 4;
  }
  #gachi .order-lg-5 {
    order: 5;
  }
  #gachi .order-lg-6 {
    order: 6;
  }
  #gachi .order-lg-7 {
    order: 7;
  }
  #gachi .order-lg-8 {
    order: 8;
  }
  #gachi .order-lg-9 {
    order: 9;
  }
  #gachi .order-lg-10 {
    order: 10;
  }
  #gachi .order-lg-11 {
    order: 11;
  }
  #gachi .order-lg-12 {
    order: 12;
  }
  #gachi .offset-lg-0 {
    margin-left: 0;
  }
  #gachi .offset-lg-1 {
    margin-left: 8.333333%;
  }
  #gachi .offset-lg-2 {
    margin-left: 16.666667%;
  }
  #gachi .offset-lg-3 {
    margin-left: 25%;
  }
  #gachi .offset-lg-4 {
    margin-left: 33.333333%;
  }
  #gachi .offset-lg-5 {
    margin-left: 41.666667%;
  }
  #gachi .offset-lg-6 {
    margin-left: 50%;
  }
  #gachi .offset-lg-7 {
    margin-left: 58.333333%;
  }
  #gachi .offset-lg-8 {
    margin-left: 66.666667%;
  }
  #gachi .offset-lg-9 {
    margin-left: 75%;
  }
  #gachi .offset-lg-10 {
    margin-left: 83.333333%;
  }
  #gachi .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
@media (min-width: 1200px) {
  #gachi .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  #gachi .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  #gachi .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  #gachi .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  #gachi .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  #gachi .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  #gachi .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  #gachi .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  #gachi .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  #gachi .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  #gachi .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  #gachi .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  #gachi .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  #gachi .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #gachi .order-xl-first {
    order: -1;
  }
  #gachi .order-xl-last {
    order: 13;
  }
  #gachi .order-xl-0 {
    order: 0;
  }
  #gachi .order-xl-1 {
    order: 1;
  }
  #gachi .order-xl-2 {
    order: 2;
  }
  #gachi .order-xl-3 {
    order: 3;
  }
  #gachi .order-xl-4 {
    order: 4;
  }
  #gachi .order-xl-5 {
    order: 5;
  }
  #gachi .order-xl-6 {
    order: 6;
  }
  #gachi .order-xl-7 {
    order: 7;
  }
  #gachi .order-xl-8 {
    order: 8;
  }
  #gachi .order-xl-9 {
    order: 9;
  }
  #gachi .order-xl-10 {
    order: 10;
  }
  #gachi .order-xl-11 {
    order: 11;
  }
  #gachi .order-xl-12 {
    order: 12;
  }
  #gachi .offset-xl-0 {
    margin-left: 0;
  }
  #gachi .offset-xl-1 {
    margin-left: 8.333333%;
  }
  #gachi .offset-xl-2 {
    margin-left: 16.666667%;
  }
  #gachi .offset-xl-3 {
    margin-left: 25%;
  }
  #gachi .offset-xl-4 {
    margin-left: 33.333333%;
  }
  #gachi .offset-xl-5 {
    margin-left: 41.666667%;
  }
  #gachi .offset-xl-6 {
    margin-left: 50%;
  }
  #gachi .offset-xl-7 {
    margin-left: 58.333333%;
  }
  #gachi .offset-xl-8 {
    margin-left: 66.666667%;
  }
  #gachi .offset-xl-9 {
    margin-left: 75%;
  }
  #gachi .offset-xl-10 {
    margin-left: 83.333333%;
  }
  #gachi .offset-xl-11 {
    margin-left: 91.666667%;
  }
}
#gachi .d-none {
  display: none !important;
}
#gachi .d-inline {
  display: inline !important;
}
#gachi .d-inline-block {
  display: inline-block !important;
}
#gachi .d-block {
  display: block !important;
}
#gachi .d-table {
  display: table !important;
}
#gachi .d-table-row {
  display: table-row !important;
}
#gachi .d-table-cell {
  display: table-cell !important;
}
#gachi .d-flex {
  display: flex !important;
}
#gachi .d-inline-flex {
  display: inline-flex !important;
}
@media (min-width: 576px) {
  #gachi .d-sm-none {
    display: none !important;
  }
  #gachi .d-sm-inline {
    display: inline !important;
  }
  #gachi .d-sm-inline-block {
    display: inline-block !important;
  }
  #gachi .d-sm-block {
    display: block !important;
  }
  #gachi .d-sm-table {
    display: table !important;
  }
  #gachi .d-sm-table-row {
    display: table-row !important;
  }
  #gachi .d-sm-table-cell {
    display: table-cell !important;
  }
  #gachi .d-sm-flex {
    display: flex !important;
  }
  #gachi .d-sm-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 768px) {
  #gachi .d-md-none {
    display: none !important;
  }
  #gachi .d-md-inline {
    display: inline !important;
  }
  #gachi .d-md-inline-block {
    display: inline-block !important;
  }
  #gachi .d-md-block {
    display: block !important;
  }
  #gachi .d-md-table {
    display: table !important;
  }
  #gachi .d-md-table-row {
    display: table-row !important;
  }
  #gachi .d-md-table-cell {
    display: table-cell !important;
  }
  #gachi .d-md-flex {
    display: flex !important;
  }
  #gachi .d-md-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 992px) {
  #gachi .d-lg-none {
    display: none !important;
  }
  #gachi .d-lg-inline {
    display: inline !important;
  }
  #gachi .d-lg-inline-block {
    display: inline-block !important;
  }
  #gachi .d-lg-block {
    display: block !important;
  }
  #gachi .d-lg-table {
    display: table !important;
  }
  #gachi .d-lg-table-row {
    display: table-row !important;
  }
  #gachi .d-lg-table-cell {
    display: table-cell !important;
  }
  #gachi .d-lg-flex {
    display: flex !important;
  }
  #gachi .d-lg-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 1200px) {
  #gachi .d-xl-none {
    display: none !important;
  }
  #gachi .d-xl-inline {
    display: inline !important;
  }
  #gachi .d-xl-inline-block {
    display: inline-block !important;
  }
  #gachi .d-xl-block {
    display: block !important;
  }
  #gachi .d-xl-table {
    display: table !important;
  }
  #gachi .d-xl-table-row {
    display: table-row !important;
  }
  #gachi .d-xl-table-cell {
    display: table-cell !important;
  }
  #gachi .d-xl-flex {
    display: flex !important;
  }
  #gachi .d-xl-inline-flex {
    display: inline-flex !important;
  }
}
@media print {
  #gachi .d-print-none {
    display: none !important;
  }
  #gachi .d-print-inline {
    display: inline !important;
  }
  #gachi .d-print-inline-block {
    display: inline-block !important;
  }
  #gachi .d-print-block {
    display: block !important;
  }
  #gachi .d-print-table {
    display: table !important;
  }
  #gachi .d-print-table-row {
    display: table-row !important;
  }
  #gachi .d-print-table-cell {
    display: table-cell !important;
  }
  #gachi .d-print-flex {
    display: flex !important;
  }
  #gachi .d-print-inline-flex {
    display: inline-flex !important;
  }
}
#gachi .flex-row {
  flex-direction: row !important;
}
#gachi .flex-column {
  flex-direction: column !important;
}
#gachi .flex-row-reverse {
  flex-direction: row-reverse !important;
}
#gachi .flex-column-reverse {
  flex-direction: column-reverse !important;
}
#gachi .flex-wrap {
  flex-wrap: wrap !important;
}
#gachi .flex-nowrap {
  flex-wrap: nowrap !important;
}
#gachi .flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
#gachi .flex-fill {
  flex: 1 1 auto !important;
}
#gachi .flex-grow-0 {
  flex-grow: 0 !important;
}
#gachi .flex-grow-1 {
  flex-grow: 1 !important;
}
#gachi .flex-shrink-0 {
  flex-shrink: 0 !important;
}
#gachi .flex-shrink-1 {
  flex-shrink: 1 !important;
}
#gachi .justify-content-start {
  justify-content: flex-start !important;
}
#gachi .justify-content-end {
  justify-content: flex-end !important;
}
#gachi .justify-content-center {
  justify-content: center !important;
}
#gachi .justify-content-between {
  justify-content: space-between !important;
}
#gachi .justify-content-around {
  justify-content: space-around !important;
}
#gachi .align-items-start {
  align-items: flex-start !important;
}
#gachi .align-items-end {
  align-items: flex-end !important;
}
#gachi .align-items-center {
  align-items: center !important;
}
#gachi .align-items-baseline {
  align-items: baseline !important;
}
#gachi .align-items-stretch {
  align-items: stretch !important;
}
#gachi .align-content-start {
  align-content: flex-start !important;
}
#gachi .align-content-end {
  align-content: flex-end !important;
}
#gachi .align-content-center {
  align-content: center !important;
}
#gachi .align-content-between {
  align-content: space-between !important;
}
#gachi .align-content-around {
  align-content: space-around !important;
}
#gachi .align-content-stretch {
  align-content: stretch !important;
}
#gachi .align-self-auto {
  align-self: auto !important;
}
#gachi .align-self-start {
  align-self: flex-start !important;
}
#gachi .align-self-end {
  align-self: flex-end !important;
}
#gachi .align-self-center {
  align-self: center !important;
}
#gachi .align-self-baseline {
  align-self: baseline !important;
}
#gachi .align-self-stretch {
  align-self: stretch !important;
}
@media (min-width: 576px) {
  #gachi .flex-sm-row {
    flex-direction: row !important;
  }
  #gachi .flex-sm-column {
    flex-direction: column !important;
  }
  #gachi .flex-sm-row-reverse {
    flex-direction: row-reverse !important;
  }
  #gachi .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }
  #gachi .flex-sm-wrap {
    flex-wrap: wrap !important;
  }
  #gachi .flex-sm-nowrap {
    flex-wrap: nowrap !important;
  }
  #gachi .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  #gachi .flex-sm-fill {
    flex: 1 1 auto !important;
  }
  #gachi .flex-sm-grow-0 {
    flex-grow: 0 !important;
  }
  #gachi .flex-sm-grow-1 {
    flex-grow: 1 !important;
  }
  #gachi .flex-sm-shrink-0 {
    flex-shrink: 0 !important;
  }
  #gachi .flex-sm-shrink-1 {
    flex-shrink: 1 !important;
  }
  #gachi .justify-content-sm-start {
    justify-content: flex-start !important;
  }
  #gachi .justify-content-sm-end {
    justify-content: flex-end !important;
  }
  #gachi .justify-content-sm-center {
    justify-content: center !important;
  }
  #gachi .justify-content-sm-between {
    justify-content: space-between !important;
  }
  #gachi .justify-content-sm-around {
    justify-content: space-around !important;
  }
  #gachi .align-items-sm-start {
    align-items: flex-start !important;
  }
  #gachi .align-items-sm-end {
    align-items: flex-end !important;
  }
  #gachi .align-items-sm-center {
    align-items: center !important;
  }
  #gachi .align-items-sm-baseline {
    align-items: baseline !important;
  }
  #gachi .align-items-sm-stretch {
    align-items: stretch !important;
  }
  #gachi .align-content-sm-start {
    align-content: flex-start !important;
  }
  #gachi .align-content-sm-end {
    align-content: flex-end !important;
  }
  #gachi .align-content-sm-center {
    align-content: center !important;
  }
  #gachi .align-content-sm-between {
    align-content: space-between !important;
  }
  #gachi .align-content-sm-around {
    align-content: space-around !important;
  }
  #gachi .align-content-sm-stretch {
    align-content: stretch !important;
  }
  #gachi .align-self-sm-auto {
    align-self: auto !important;
  }
  #gachi .align-self-sm-start {
    align-self: flex-start !important;
  }
  #gachi .align-self-sm-end {
    align-self: flex-end !important;
  }
  #gachi .align-self-sm-center {
    align-self: center !important;
  }
  #gachi .align-self-sm-baseline {
    align-self: baseline !important;
  }
  #gachi .align-self-sm-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 768px) {
  #gachi .flex-md-row {
    flex-direction: row !important;
  }
  #gachi .flex-md-column {
    flex-direction: column !important;
  }
  #gachi .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }
  #gachi .flex-md-column-reverse {
    flex-direction: column-reverse !important;
  }
  #gachi .flex-md-wrap {
    flex-wrap: wrap !important;
  }
  #gachi .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }
  #gachi .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  #gachi .flex-md-fill {
    flex: 1 1 auto !important;
  }
  #gachi .flex-md-grow-0 {
    flex-grow: 0 !important;
  }
  #gachi .flex-md-grow-1 {
    flex-grow: 1 !important;
  }
  #gachi .flex-md-shrink-0 {
    flex-shrink: 0 !important;
  }
  #gachi .flex-md-shrink-1 {
    flex-shrink: 1 !important;
  }
  #gachi .justify-content-md-start {
    justify-content: flex-start !important;
  }
  #gachi .justify-content-md-end {
    justify-content: flex-end !important;
  }
  #gachi .justify-content-md-center {
    justify-content: center !important;
  }
  #gachi .justify-content-md-between {
    justify-content: space-between !important;
  }
  #gachi .justify-content-md-around {
    justify-content: space-around !important;
  }
  #gachi .align-items-md-start {
    align-items: flex-start !important;
  }
  #gachi .align-items-md-end {
    align-items: flex-end !important;
  }
  #gachi .align-items-md-center {
    align-items: center !important;
  }
  #gachi .align-items-md-baseline {
    align-items: baseline !important;
  }
  #gachi .align-items-md-stretch {
    align-items: stretch !important;
  }
  #gachi .align-content-md-start {
    align-content: flex-start !important;
  }
  #gachi .align-content-md-end {
    align-content: flex-end !important;
  }
  #gachi .align-content-md-center {
    align-content: center !important;
  }
  #gachi .align-content-md-between {
    align-content: space-between !important;
  }
  #gachi .align-content-md-around {
    align-content: space-around !important;
  }
  #gachi .align-content-md-stretch {
    align-content: stretch !important;
  }
  #gachi .align-self-md-auto {
    align-self: auto !important;
  }
  #gachi .align-self-md-start {
    align-self: flex-start !important;
  }
  #gachi .align-self-md-end {
    align-self: flex-end !important;
  }
  #gachi .align-self-md-center {
    align-self: center !important;
  }
  #gachi .align-self-md-baseline {
    align-self: baseline !important;
  }
  #gachi .align-self-md-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 992px) {
  #gachi .flex-lg-row {
    flex-direction: row !important;
  }
  #gachi .flex-lg-column {
    flex-direction: column !important;
  }
  #gachi .flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }
  #gachi .flex-lg-column-reverse {
    flex-direction: column-reverse !important;
  }
  #gachi .flex-lg-wrap {
    flex-wrap: wrap !important;
  }
  #gachi .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }
  #gachi .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  #gachi .flex-lg-fill {
    flex: 1 1 auto !important;
  }
  #gachi .flex-lg-grow-0 {
    flex-grow: 0 !important;
  }
  #gachi .flex-lg-grow-1 {
    flex-grow: 1 !important;
  }
  #gachi .flex-lg-shrink-0 {
    flex-shrink: 0 !important;
  }
  #gachi .flex-lg-shrink-1 {
    flex-shrink: 1 !important;
  }
  #gachi .justify-content-lg-start {
    justify-content: flex-start !important;
  }
  #gachi .justify-content-lg-end {
    justify-content: flex-end !important;
  }
  #gachi .justify-content-lg-center {
    justify-content: center !important;
  }
  #gachi .justify-content-lg-between {
    justify-content: space-between !important;
  }
  #gachi .justify-content-lg-around {
    justify-content: space-around !important;
  }
  #gachi .align-items-lg-start {
    align-items: flex-start !important;
  }
  #gachi .align-items-lg-end {
    align-items: flex-end !important;
  }
  #gachi .align-items-lg-center {
    align-items: center !important;
  }
  #gachi .align-items-lg-baseline {
    align-items: baseline !important;
  }
  #gachi .align-items-lg-stretch {
    align-items: stretch !important;
  }
  #gachi .align-content-lg-start {
    align-content: flex-start !important;
  }
  #gachi .align-content-lg-end {
    align-content: flex-end !important;
  }
  #gachi .align-content-lg-center {
    align-content: center !important;
  }
  #gachi .align-content-lg-between {
    align-content: space-between !important;
  }
  #gachi .align-content-lg-around {
    align-content: space-around !important;
  }
  #gachi .align-content-lg-stretch {
    align-content: stretch !important;
  }
  #gachi .align-self-lg-auto {
    align-self: auto !important;
  }
  #gachi .align-self-lg-start {
    align-self: flex-start !important;
  }
  #gachi .align-self-lg-end {
    align-self: flex-end !important;
  }
  #gachi .align-self-lg-center {
    align-self: center !important;
  }
  #gachi .align-self-lg-baseline {
    align-self: baseline !important;
  }
  #gachi .align-self-lg-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 1200px) {
  #gachi .flex-xl-row {
    flex-direction: row !important;
  }
  #gachi .flex-xl-column {
    flex-direction: column !important;
  }
  #gachi .flex-xl-row-reverse {
    flex-direction: row-reverse !important;
  }
  #gachi .flex-xl-column-reverse {
    flex-direction: column-reverse !important;
  }
  #gachi .flex-xl-wrap {
    flex-wrap: wrap !important;
  }
  #gachi .flex-xl-nowrap {
    flex-wrap: nowrap !important;
  }
  #gachi .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  #gachi .flex-xl-fill {
    flex: 1 1 auto !important;
  }
  #gachi .flex-xl-grow-0 {
    flex-grow: 0 !important;
  }
  #gachi .flex-xl-grow-1 {
    flex-grow: 1 !important;
  }
  #gachi .flex-xl-shrink-0 {
    flex-shrink: 0 !important;
  }
  #gachi .flex-xl-shrink-1 {
    flex-shrink: 1 !important;
  }
  #gachi .justify-content-xl-start {
    justify-content: flex-start !important;
  }
  #gachi .justify-content-xl-end {
    justify-content: flex-end !important;
  }
  #gachi .justify-content-xl-center {
    justify-content: center !important;
  }
  #gachi .justify-content-xl-between {
    justify-content: space-between !important;
  }
  #gachi .justify-content-xl-around {
    justify-content: space-around !important;
  }
  #gachi .align-items-xl-start {
    align-items: flex-start !important;
  }
  #gachi .align-items-xl-end {
    align-items: flex-end !important;
  }
  #gachi .align-items-xl-center {
    align-items: center !important;
  }
  #gachi .align-items-xl-baseline {
    align-items: baseline !important;
  }
  #gachi .align-items-xl-stretch {
    align-items: stretch !important;
  }
  #gachi .align-content-xl-start {
    align-content: flex-start !important;
  }
  #gachi .align-content-xl-end {
    align-content: flex-end !important;
  }
  #gachi .align-content-xl-center {
    align-content: center !important;
  }
  #gachi .align-content-xl-between {
    align-content: space-between !important;
  }
  #gachi .align-content-xl-around {
    align-content: space-around !important;
  }
  #gachi .align-content-xl-stretch {
    align-content: stretch !important;
  }
  #gachi .align-self-xl-auto {
    align-self: auto !important;
  }
  #gachi .align-self-xl-start {
    align-self: flex-start !important;
  }
  #gachi .align-self-xl-end {
    align-self: flex-end !important;
  }
  #gachi .align-self-xl-center {
    align-self: center !important;
  }
  #gachi .align-self-xl-baseline {
    align-self: baseline !important;
  }
  #gachi .align-self-xl-stretch {
    align-self: stretch !important;
  }
}
#gachi * {
  box-sizing: border-box;
}
#gachi .ccontainer {
  --cw: 100%;
  max-width: var(--cw);
}
@media (min-width: 576px) {
  #gachi .ccontainer {
    --cw: 540px;
  }
}
@media (min-width: 768px) {
  #gachi .ccontainer {
    --cw: 720px;
  }
}
@media (min-width: 992px) {
  #gachi .ccontainer {
    --cw: 960px;
  }
}
@media (min-width: 1200px) {
  #gachi .ccontainer {
    --cw: 1170px;
  }
}
#gachi .swiper-slider {
  margin-left: -15px;
  margin-right: -15px;
}
#gachi .swiper-slider > header {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
#gachi .swiper-header {
  margin-right: 20px;
}
#gachi .swiper-controls {
  display: flex;
}
#gachi .swiper-controls button {
  width: 25px;
  height: 25px;
  background: #00ca05 url(../img/arrow.png) no-repeat center;
}
#gachi .swiper-controls button.swiper-button-disabled {
  background-color: #b4b4b4;
}
#gachi .swiper-wrapper.row {
  margin-left: 0;
  margin-right: 0;
  flex-wrap: nowrap;
}
#gachi .swiper-prev {
  transform: rotate(180deg);
  margin-right: 3px;
}
#gachi .our_advantages {
  padding-bottom: 12px;
}
#gachi .our_advantages-item {
  display: flex;
  flex-direction: column;
}
#gachi .our_advantages-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 4px 8px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  border: 1px solid #f9f9f9;
  text-align: center;
  padding: 20px 12px;
  margin-bottom: 16px;
}
#gachi .our_advantages-icon {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  margin: 0 0 12px;
}
#gachi .our_advantages-name {
  color: #1a1a1a;
  font-family: "Bliss Pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
@media (min-width: 1200px) {
  #gachi .our_advantages-content {
    padding: 40px;
    text-align: left;
    flex-direction: row;
    margin-bottom: 28px;
  }
  #gachi .our_advantages-icon {
    margin: 0 35px 0 0;
  }
}
#gachi .new_products {
  padding-bottom: 30px;
}
#gachi .new_products-item {
  display: flex;
  flex-direction: column;
}
#gachi .new_products-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 4px 8px 1px rgba(0, 0, 0, 0.07);
  background: #fff;
  border: 1px solid #f9f9f9;
  text-align: center;
  padding: 14px;
  margin-bottom: 16px;
}
#gachi .new_products-img {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}
#gachi .new_products-img::before {
  content: '';
  display: block;
  padding-top: 100%;
}
#gachi .new_products-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
#gachi .new_products-rating {
  display: flex;
  margin-bottom: 8px;
}
#gachi .new_products-name {
  color: #1a1a1a;
  font-family: "Bliss Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 16px;
}
#gachi .new_products-price {
  color: #1a1a1a;
  font-family: "Bliss Pro";
  font-size: 30px;
  font-weight: 400;
  line-height: 22px;
  margin-top: auto;
  margin-bottom: 16px;
}
#gachi .new_products-btn {
  color: #ffffff;
  font-family: "Bliss Pro";
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
}
#gachi .new_products-btn.btn {
  padding: 10px 20px;
  background-color: #00ca05;
  border-radius: 5px;
}
@media (min-width: 768px) {
  #gachi .new_products {
    padding-bottom: 60px;
  }
  #gachi .new_products-content {
    padding: 20px 26px 16px;
  }
  #gachi .new_products-name {
    font-size: 18px;
  }
  #gachi .new_products-price {
    font-size: 24px;
  }
  #gachi .new_products-btn {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  #gachi .new_products-item {
    max-width: 20%;
  }
}
#gachi .pre_footer.row,
#gachi .pre_footer .row {
  margin-left: -1%;
  margin-right: -1%;
}
#gachi .pre_footer.row > *,
#gachi .pre_footer .row > * {
  padding-left: 1%;
  padding-right: 1%;
}
#gachi .pre_footer-section {
  padding-top: 30px;
  background-color: #c9c9c9;
}
@media (min-width: 576px) {
  #gachi .pre_footer-section {
    padding: 112px 0 65px;
  }
}
#gachi .pre_footer-item {
  display: flex;
  flex-direction: column;
}
#gachi .pre_footer-content {
  flex-grow: 1;
  padding: 15px 15px 0;
  background-color: #fff;
  margin-bottom: 15px;
}
#gachi .pre_footer-widget {
  padding: 0 0 15px;
  /*HEAD*/
  /*HEAD*/
  /*TOOLBAR*/
  /*TOOLBAR*/
  /*LIST*/
  /*LIST*/
}
#gachi .pre_footer-widget .clear {
  float: left;
  width: 100%;
}
#gachi .pre_footer-widget .PRVWidget .title .text {
  background-color: #fff;
}
#gachi .pre_footer-widget .PRVWidget .profile {
  background-color: #fff;
  padding: 10px 0px;
}
#gachi .pre_footer-widget .PRVWidget .content {
  background-color: #fff;
  padding: 10px;
}
#gachi .pre_footer-widget .PRVWidget .clear {
  clear: both;
}
#gachi .pre_footer-widget .PRVWidget a.title:link,
#gachi .pre_footer-widget .PRVWidget a.title:visited {
  display: block;
  text-decoration: none;
}
#gachi .pre_footer-widget .PRVWidget .title .text {
  border-bottom: 1px solid #c3c3c3;
  text-align: center;
  color: #000;
  font-size: 12px;
  white-space: nowrap;
  padding: 7px 0;
  font-weight: bold;
  font-family: arial;
}
#gachi .pre_footer-widget .PRVWidget .profile {
  width: 100%;
  min-width: 100px;
  border-collapse: collapse;
  background: #f9f9f9;
  font-family: arial;
  font-size: 12px;
  box-sizing: border-box;
  text-align: center;
}
#gachi .pre_footer-widget .PRVWidget .profile .avatar {
  padding: 10px !important;
  line-height: 0px;
  display: inline-block;
}
#gachi .pre_footer-widget .PRVWidget .profile .avatar img {
  width: 60px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -khtml-border-radius: 40px;
}
#gachi .pre_footer-widget .PRVWidget .profile_right_block {
  display: inline-block;
}
#gachi .pre_footer-widget .PRVWidget .profile .values_container {
  text-align: center;
}
#gachi .pre_footer-widget .PRVWidget .profile .value {
  min-width: 77px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 3px 0px 3px;
  font-family: arial;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}
#gachi .pre_footer-widget .PRVWidget .profile span {
  display: block;
  font-size: 9px;
  font-weight: bold;
  color: #999999;
  margin: -2px 0 0 0;
  font-family: arial;
  font-size: 12px;
}
#gachi .pre_footer-widget .PRVWidget .profile .follow_container {
  padding: 10px 3px;
}
#gachi .pre_footer-widget .PRVWidget .profile a.follow:link,
#gachi .pre_footer-widget .PRVWidget .profile a.follow:visited {
  display: block;
  background: #fff;
  color: #3897f0;
  text-decoration: none;
  font-size: 14px;
  max-width: 130px;
  min-width: 88px;
  margin: 0 auto 0 auto;
  padding: 4px 4px 4px 4px;
  border: 1px solid #3897f0;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  font-family: arial;
  text-align: center;
  box-sizing: border-box;
}
#gachi .pre_footer-widget .PRVWidget .content {
  padding: 10px 10px 0 10px;
  background: #f9f9f9;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}
#gachi .pre_footer-widget .PRVgrid {
  float: left;
}
#gachi .pre_footer-widget .PRVgrid-4 {
  width: 25%;
}
#gachi .pre_footer-widget .PRVWidget .images_list .image_block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#gachi .pre_footer-widget .PRVWidget .images_list .image {
  display: block;
  width: 100%;
}
#gachi .pre_footer-widget .PRVWidget .images_list .image .image-box {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  padding-bottom: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#gachi .pre_footer-widget .PRVWidget .images_list .image:hover, #gachi .pre_footer-widget .PRVWidget .images_list .image:focus {
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#gachi .pre_footer .last_reviews {
  font-family: "Bliss Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
#gachi .pre_footer .last_reviews-item {
  flex: 1 1 0;
  margin-bottom: 15px;
}
#gachi .pre_footer .last_reviews-hr {
  padding: 0;
  background-color: #c9c9c9;
  margin-bottom: 15px;
  align-self: center;
  height: 2px;
}
@media (min-width: 576px) {
  #gachi .pre_footer .last_reviews-hr {
    padding: 0;
    background-color: #c9c9c9;
    margin-bottom: 15px;
    align-self: auto;
    width: 2px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  #gachi .pre_footer .last_reviews-hr {
    padding: 0;
    background-color: #c9c9c9;
    margin-bottom: 15px;
    align-self: center;
    height: 2px;
  }
}
#gachi .pre_footer .last_reviews-title {
  font-size: 26px;
  margin-bottom: 16px;
}
#gachi .pre_footer .last_reviews-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
#gachi .pre_footer .last_reviews-name {
  font-size: 20px;
}
#gachi .pre_footer .last_reviews-body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}
#gachi .pre_footer .last_reviews-footer a {
  display: inline;
  color: #02c904;
  line-height: 18px;
  text-decoration: underline;
}
#gachi .pre_footer .socials {
  height: 100%;
  align-content: stretch;
}
#gachi .pre_footer .socials-item {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
#gachi .pre_footer .socials-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#gachi .pre_footer .socials-title {
  text-align: center;
  font-family: "Bliss Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 1em;
}
#gachi .pre_footer .socials-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gachi .pre_footer .socials-hr {
  padding: 0;
  background-color: #c9c9c9;
  margin-bottom: 15px;
  align-self: center;
  height: 2px;
}
@media (min-width: 576px) {
  #gachi .pre_footer .socials-hr {
    padding: 0;
    background-color: #c9c9c9;
    margin-bottom: 15px;
    align-self: auto;
    width: 2px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  #gachi .pre_footer .socials-hr {
    padding: 0;
    background-color: #c9c9c9;
    margin-bottom: 15px;
    align-self: center;
    height: 2px;
  }
}
#gachi .pp {
  background-color: #fff;
  padding: 10px;
  border: unset;
  margin-bottom: 12px;
}
#gachi .wrapper-product {
  background-color: #ebebeb;
}
#gachi .wrapper-product .product {
  border: unset;
}
#gachi .wrapper-product h1.name {
  font-family: "Bliss Pro";
  font-size: 25px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (min-width: 576px) {
  #gachi .wrapper-product h1.name {
    font-size: 36px;
  }
}
#gachi .left .brand {
  display: flex;
  color: #000000;
  font-family: "Bliss Pro";
  font-size: 23px;
  font-weight: 400;
  line-height: 22px;
}
@media (min-width: 576px) {
  #gachi .left .brand {
    font-size: 18px;
  }
}
#gachi .left .brand-img {
  position: relative;
  width: 83px;
  margin-right: 13px;
}
#gachi .left .brand-img::before {
  content: '';
  display: block;
  padding-top: 29%;
}
#gachi .left .brand-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#gachi .left .sosoc {
  margin-left: -6px;
  margin-right: -6px;
}
#gachi .left .sosoc-item {
  color: #aeadad;
  font-family: "Font Awesome";
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.6px;
  padding: 0 6px;
}
#gachi .left .sosoc-item a {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#gachi .right .productvars {
  background: none;
  padding-bottom: 12px;
  margin-top: 0;
}
#gachi .right .productvars .pp {
  background-color: #fff;
  padding: 10px;
  border: unset;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
@media (min-width: 576px) {
  #gachi .right .productvars .pp {
    padding: 15px;
  }
}
#gachi .right .productvars .taste {
  color: #000000;
  font-family: "Bliss Pro";
  font-size: 20px;
  font-weight: 400;
  font-size: 18px;
  width: auto;
  margin-right: auto;
}
#gachi .right .productvars .fas {
  padding-top: 0;
  padding-bottom: 0;
  color: #000000;
  font-family: "Bliss Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  background-color: #f5f5f5;
}
#gachi .right .productvars .fas .retail {
  display: flex;
  align-items: center;
}
#gachi .right .productvars .fas .price {
  color: #171717;
  font-family: "Bebas Neue Bold";
  font-weight: 400;
  line-height: 22px;
  font-size: 30px;
}
#gachi .right .productvars .fas .weight {
  color: #949495;
  font-family: "Bliss Pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-right: 15px;
}
#gachi .right .productvars .fas .weight::after {
  content: ' гр.';
}
#gachi .right .productvars .fas .special {
  display: flex;
  color: #55b025;
  font-family: "Bliss Pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 15px;
  border: 1px solid #55b025;
  margin: 0 5px;
}
#gachi .right .productvars .fas .special > * {
  color: inherit;
}
#gachi .right .productvars .fas > :not(.special) {
  margin: 5px;
}
#gachi .right .productvars .list {
  padding: 0;
}
#gachi .right .productvars .list .item {
  background-color: #fff;
  padding: 10px;
  border: unset;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
@media (min-width: 576px) {
  #gachi .right .productvars .list .item {
    padding: 15px;
  }
}
#gachi .right .productvars .list .item:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
}
#gachi .right .productvars .list .item .buy {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin: 0;
}
#gachi .right .productvars .list .item .status {
  width: auto;
  text-transform: uppercase;
}
#gachi .right .productvars .list .item .status::before {
  content: '';
}
#gachi .right .productvars .list .item .countwrap {
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}
#gachi .right .productvars .list .item .countwrap .count {
  all: unset;
  display: block;
  -webkit-text-fill-color: currentColor;
  text-size-adjust: 100%;
  display: flex;
  border: 1px solid #ebebeb;
  border-radius: 0;
  background-color: #ffffff;
}
#gachi .right .productvars .list .item .countwrap .count > * {
  all: unset;
  display: block;
  -webkit-text-fill-color: currentColor;
  text-size-adjust: 100%;
}
#gachi .right .productvars .list .item .countwrap .count .btn.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9c9c9e;
  font-family: "Bliss Pro";
  font-size: 18px;
  font-weight: 400;
  width: 30px;
  height: 30px;
}
#gachi .right .productvars .list .item .countwrap .count .btn.icon.inc {
  order: 1;
}
#gachi .right .productvars .list .item .countwrap .count .input {
  width: 26px;
}
#gachi .right .productvars .list .item .countwrap .count .input input {
  color: #56b325;
  font-family: "Bliss Pro";
  font-size: 22px;
  font-weight: 400;
  font-size: 18px;
  background-color: #f7f5f5;
  width: 100%;
  height: 100%;
}
#gachi .right .productvars .list .item > * {
  margin: 5px;
}
#gachi .right .productvars .list .item .basket {
  background-color: #ca0d03;
}
@media (max-width: 767px) {
  #gachi .right .productvars .list .item .basket {
    width: 51px;
    height: 46px;
    font-size: 0;
    background: #ca0d03 url(../img/basket.png) no-repeat center / contain content-box border-box;
  }
}
#gachi .right .productvars .list .item.not_available .taste,
#gachi .right .productvars .list .item.not_available .status {
  color: #878787;
}
#gachi .right .productvars .btnplace {
  width: auto;
  margin: 0;
}
@media (min-width: 576px) {
  #gachi .right .productvars .btnplace {
    margin: 0 5px;
  }
}
#gachi .right .productvars .btnplace .basket {
  background-color: #55b025;
  color: #ffffff;
  font-family: "Bebas Neue Bold";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.45px;
  padding: 12px;
  border: 0;
  border-radius: 0;
  width: 170px;
  max-width: none;
  text-transform: uppercase;
}
#gachi .right .productvars .to_discount {
  color: #000000;
  font-family: "Bliss Pro";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}
#gachi .right .productvars .to_discount.pp {
  border-top: 1px solid #e4e4e4;
}
#gachi .right .productvars .info .total {
  display: flex;
  align-items: center;
}
#gachi .right .productvars .info .infoprice {
  color: #ca0d03;
  font-family: "Bebas Neue Bold";
  font-size: 40px;
  font-weight: 400;
  line-height: 22px;
  margin: 5px;
  margin-right: 25px;
}
#gachi .right .productvars .info .infoprice .oldprice {
  display: flex;
  color: #949495;
  font-size: 24px;
  margin: 0;
}
#gachi .right .productvars .info .infoprice .sale {
  color: #ca0d03;
  font-size: 16px;
  background: unset;
  text-decoration: none;
}
#gachi .right .productvars .info .currprice {
  color: #ca0d03;
  font-family: "Bebas Neue Bold";
  font-size: 40px;
  font-weight: 400;
  line-height: 22px;
  margin: 10px;
}

/*# sourceMappingURL=maps/style.css.map */
